@mixin media($min, $max) {
  @media only screen and (min-width: $min) and (max-width: $max - 1px){
    @content;
  };
}

@mixin block_styles($bg, $cl, $fz) {
  a {
    background: $bg ;
    color: $cl ;
    font-size: $fz ;
  }
}
